body {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image/cover.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
h2{
	text-align: center;
	font-family: Cursive;
	padding-top: 10px;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255, 255, 255, 0.9);
}
table {
	margin: 25px;
}
td {
	text-align: left;
	padding: 10px;
}
.container{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container img{
	padding: 10px;
	border: 2px solid #fff;
	width: 300px;
	height: 200px;
}