* {
  box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/cover2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.body{
	display: flex;
}
.row{
	width: 45%;
	padding: 30px;
	padding-left: 75px;
	font-family: Cursive;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.9);
}
.col{
	width: 80%;
	margin: 25px;
	font-weight: bold;
	color: #fff;
}
.card{
	width: 200px;
	height: 200px;
	font-size: 20px;
	display: inline-block;
	border: 3px solid #fff;
	border-radious: 20px;
	padding: 10px 10px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 20px;
	background-position: center;
	background-size: cover;
	transition: transform 0.4s;
}
.card a{
	font-weight: bold;
	font-family: cursive;
	color: #fff;
}
.card1{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/furnt.jpg);
}
.card2{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/light.jpg);
}
.card3{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/furns.jpg);
}
.card4{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/sticker.jpg);
}
.card5{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/plant.jpg);
}
.card6{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/smart.jpg);
}
.card:hover{
	transform: translateY(-10px);
}